.redButton{
    color: white;
    background-color: $red-exam;
    border: none;
    border-radius: 0.3rem;

}
.lightBlueRoyalButton{
    color: white;
    background-color: $light-royal-blue;
    border: none;
    border-radius: 0.3rem;

}
.blueRoyalButton{
    color: white;
    background-color: $royal-blue;
    border: none;
    border-radius: 0.3rem;
}
.noneColorButton{
    background-color: transparent;
    color: black;
    border: none;
    text-decoration: none;
}