.flexResponsiveRowToColumn {
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: $desktop-breakpoint) {
        flex-direction: column;
    }
}
.flexRow {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.appRouterContainer {
    display: flex;
    width: 80%;
    padding-right: 20%;
    @media only screen and (max-width: 1400px) {
        width: 100%;
        padding-right: 0;
        
    }
}
.content-container {
    @extend .flexResponsiveRowToColumn;
    padding-right: 0;
    justify-content: center;
    @media only screen and (max-width: $desktop-breakpoint) {
        padding-right: 0;
        
    }
  
}
