.columnList{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.list-item{
    margin-bottom: 0.5rem;
    font-size: $font-xl;
    @media only screen and (max-width: $desktop-breakpoint) {
        font-size: $font-s;
    }
}
.columnList h3{
    margin-bottom: 0.5rem;
    font-size: 3rem;
    @media only screen and (max-width: $desktop-breakpoint) {
        font-size: $font-m;
    }
}
