.footer {
    display: flex;
    flex-direction: column;
    padding-right: $s-xl;
    padding-left: $s-xl;
    padding-top: $s-m;
    padding-bottom: $s-xl;
    background-color: $light-grey;
    background-color: $dark-grey;
    color: $off-white;
    width: 100%;
    @media only screen and (max-width: 768px) {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
    @media only screen and (max-width: $desktop-breakpoint) {
        font-size: $font-m;
        padding: $s-s;
    }
}
.footer-insideContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    @media only screen and (max-width: $desktop-breakpoint) {
        font-size: 1rem;
        padding-right: 0;
        padding-left: 0;
    }
}

.footer-imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
