.joinToClubContainer{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: $light-grey;
    margin-top: $s-m;
    border-bottom: medium solid black;

}
.joinToClubContainer-insideContainer{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

    

}
.joinToClubContainer-insideContainer input,button{
    width: 20%;
    height: 30%;
    font-size: $font-xl;
    @media only screen and (max-width: $desktop-breakpoint) {
       
        font-size:$font-m;
        
    }

   
  
}
.joinToClubContainer h3{
    color: $light-blue;
    font-size: $font-xl;
    margin-right: 8%;
    @media only screen and (max-width: $desktop-breakpoint) {
       
        font-size:$font-l;
        
    }
}
