.textFilter {
    margin-top: $s-m;
    margin-bottom: $s-s;
    width: 90%;
    height: $m-input-h;
    font-size: $font-xl;
    @media only screen and (max-width: $small-phone-breakpoint) {
        height: $m-input-h;
    }
}
