.lightRoyalBlueText{
    color: $light-royal-blue;

}
.greyText{
    color:$grey;
}
.boldText{
    font-weight: bold;
}
.text-l{
    font-size: $font-xl;
    @media only screen and (max-width: $desktop-breakpoint) {
        font-size: $font-l;
        margin-bottom: $s-s;

    }
}
.text-m{
    font-size: $font-xl;
    @media only screen and (max-width: $desktop-breakpoint) {
        font-size:1px;
        display: flex;
        align-content: center;
      
      

    }
}