// Colors
$royal-blue: #313685;
$light-royal-blue:#0D97E3;
$light-blue:#71C6FD;
$off-white: #f7f7f7;
$red-exam:#FF0000;
$light-grey:#EEEEEE;
$dark-grey:#535353;
$grey:#4F4B47;
$dark-grey-super:#3B3B3B;
$full-star:#FFB178;
$empty-star:#5A5E9D;

// Font Size
$font-xl: 2rem;
$font-l: 1.5rem;
$font-m: 1rem;
$font-s: 0.5rem;

// Spacing
$s-s: 2rem;
$s-m: 3rem;
$s-l: 6rem;
$s-xl: 10rem;
$s-xxl: 12rem;


// input width
$s-input: 10rem;
$m-input: 20rem;
$l-input: 25rem;
$xl-input: 30rem;
//input height
$s-input-h:2rem;
$m-input-h:4rem;
$l-input-h:6rem;

//regular phones
$desktop-breakpoint: 40rem;
//very small phone
$small-phone-breakpoint: 20rem;
//ipad size
$ipad-breakpoint: 60rem;
//ipad-pro size
$ipad-pro-breakpoint: 70rem;
